.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: var(--white);
  padding: 30px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  width: 90%;
  max-width: 500px;
  text-align: center;
  background-color: white;
}

.popup-content h1 {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 20px;
  font-weight: bold;
}

.popup-content input[type="date"] {
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  font-size: var(--font-size);
  margin-bottom: 20px;
  width: calc(100% - 22px);
}
